<!-- How to use Modal -->
<div class="modal fade" id="howtousemodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">How to use</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <br>1. User can Login and Register.
                <br><br>2. User can create a todo list upto 5 items if he is not loggedin and can create more than 5 items if logged in.
                <br><br>3. User can visit Dashboard and can view his personal details like Name, Email and Profile Photo.
                <br><br>4. User can visit Edit Profile Link from which he can update personal information.
            </div>
            </div>
                </div>
                </div>
            </div>
            </div>
        </div>
        </div>