<!-- TOS Modal -->
<div class="modal fade" id="tosmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Terms of Service</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                 <span><strong>Terms of Service</strong></span> <br>
                 <span>By using the service provided by this site you acknowledge and agree to the following terms of service/use: 
                        <br>- DO NOT USE THIS SERVICE TO DOWNLOAD ANY VIDEO THAT IS COPYRIGHTED. 
                        <br>- We do not hosting or store any video/audio here, any copyright infringement please contact Youtube. 
                        <br>- This service is only for education purpose, you are free to download teaching/learning video.
                 </span>  
                 <br><br><span><strong>Privacy Policy</strong></span> <br>
                 <span>
                    Information We Collect & How We Use It
                    <br>-When someone visits our websites, we use a third party service, Google Analytics, to collect standard internet log information (such as IP address and type of browser they’re using) and details of visitor behavior patterns. We do this to allow us to keep track of the number of visitors to the various parts of the sites and understand how our website is used. We do not make any attempt to find out the identities or nature of those visiting our websites. We won’t share your information with any other organizations for marketing, market research or commercial purposes and we don’t pass on your details to other websites.       
                 </span>
                 <br><br><span><strong>Copyright Policy</strong></span> <br>
                 <span>
                    If you are the owner of video, please send valid DMCA form : 
                    <br>- A list that contain Youtube ID or Link to permit us easy identify and block the video from our site. 
                    <br>- A physical or electronic signature of a person authorized to act on behalf of the owner of an exclusive right that is allegedly infringed. 
                    <br>- Information reasonably sufficient to permit us to contact the complaining party, such as an address, telephone number, and, if available, an electronic mail address at which the complaining party may be contacted. 
                    <br> To email <u>copyright.ymd@protonmail.com</u>, we will disable from our site (24-48 hour)
                 </span>
            </div>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>
        </div>